@import url(https://fonts.googleapis.com/css?family=Orbitron);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Orbitron', courier, sans-serif;
    font-size: 14px;
}

html { 
    background: url(./img/sandro-katalina-unsplash.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.insta-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.insta-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-phone img{
    height: 50rem;
    filter: invert(100%);
}


.insta-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    background-color: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid #fe00fe;
    box-shadow: inset 0 0 1em rgb(0, 0, 0), 0 0 1em #fe00fe;
}

.group:nth-child(1) {
    min-height: 20rem;
    margin-bottom: 1rem;
}

.logo{
    height: 3rem;
}

.profile-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1rem;
}

.insta-login{
    background-color: #9625cf;
    color: #defe47;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
    text-transform: lowercase;
}

.insta-logout{
    color: #9625cf;
    margin-top: 1rem;
}

.not-account{
    color: #fe00fe;
}

.link-blue a{
    color: #9625cf;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app {
    color: #defe47;
    text-transform: uppercase;
    text-shadow: 0 0 3px #fe00fe, 0 0 5px #9625cf;
    /* vazio por enquanto*/
}
.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3.1rem;
    width: 10.5rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./img/googleplay-button.png');
}

.app-download:nth-child(2){
    background-image: url('./img/apple-button.png');
}


/* media queries */

@media (max-width: 1024px){
    .insta-wrapper{
        width: 90%;
    }   
}

@media (max-width: 650px) {
    body{
        background-color: white;
    }

    .insta-wrapper{
        width: 90%;
    }

    .insta-phone{
        display: none;
    }

    .insta-box{
        width: 100%;
    }

    .group{
        border: 1px solid transparent;
    }
}
